*{
    margin: 0;
    padding: 0;
}
main{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

}
.box{
    height: 80vh;
    border-radius: 10px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2;
    color: white;
}
.heading{
    display: flex;
    align-items: center;
    text-overflow: clip;
}

p{
    text-align: center;
}

form{
    padding: 10px;
}
form button{
    margin-left: 5px;
    padding: 8px 12px;

}
.halfcircle{
    position: absolute;
    padding: 0px 100px;
    bottom: 0;
    width: 100vw;
    overflow: hidden;
    animation: wave 5s  infinite;
    transition: transform 5s linear;
    transform: scale(0);
}
.c1{
    height: 100vh;
    clip-path: circle(28% at 50% 50%);
    display: flex;
    align-items: center;
}
.c2{
    height: 90vh;
}

@keyframes wave{
    form{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

